<div class="col-md-6 col-lg-3 d-flex mb-2">
    <div class="card presentation-card">
        {% if include.img_url %}
          <img src="{{ include.img_url }}" class="card-img-top" alt="Interface web {{ include.name }}">
        {% endif %}
        <div class="card-body">
          <div class="d-flex align-items-start flex-column h-100">
            <div class="mb-auto">
              <h5 class="card-title">{{ include.name }}</h5>
              <p class="card-text">{{ include.text }}</p>
            </div>       
            <div class="card-action">
              {% if include.presentation_url %}
                <a href="{{ include.presentation_url }}" class="card-link align-items-end mt-2" target="_blank" data-bs-toggle="tooltip" title="Voir la présentation"><i class="bi bi-file-earmark"></i></a>
              {% endif %}   
              {% if include.video_url %}
                <a href="{{ include.video_url }}" class="card-link align-items-end mt-2" target="_blank" data-bs-toggle="tooltip" title="Voir la vidéo"><i class="bi bi-camera-video"></i></a>
              {% endif %}              
            </div>          
        </div>
        </div>
    </div>
</div>

<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>