<footer class="row justify-content-between py-5 text-white">
	<div class="col-12 col-lg-4 col-xl-6">
		<img class="mb-3 mt-1" src="{{ '/public/georchestra-logo-white.svg' | prepend: site.baseurl }}" style="width: 160px;" alt="GeOrchestra logo">
		<p class="text">{{ site.description }}</p>
		<p class="text">© 2021 - <span class="username">{{ site.username }}</span></p>
	</div>
	<div class="col-6 col-lg-4 col-xl-4 contact">
		<h5>Contactez-nous</h5>
		<ul class="list-unstyled" style="line-height: 1.7;">
			<li><a href="mailto:{{ site.email }}"><i class="bi bi-envelope-fill"></i> {{ site.email }}</a></li>
			<li><a href="https://twitter.com/{{ site.username }}" target="_blank"><i class="bi bi-twitter"></i> {{ site.username }}</a></li>
			<li> <a href="https://github.com/{{ site.username }}" target="_blank"><i class="bi bi-github"></i> {{ site.username }}</a></li>
		</ul>
		<div class="mb-3 mt-5" style="opacity: 0.7;">
			<a href="https://github.com/georchestra/georchestra.github.io/edit/master/{{ page.path }}" target="_blank"><i class="bi bi-pencil"></i> Edit this page</a>
		</div>
	</div>
</footer>