<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - {{ site.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="google-site-verification" content="b4iV0TLmFCWJMpKBRakyJUE6LzKRmgIUe1exnETF2sM" />
    <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines }}">
    <link rel="icon" sizes="32x32 64x64" type="image/vnd.microsoft.icon" href="{{ "/favicon.ico?v=2" | prepend: site.baseurl | prepend: site.url}}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
{% if page_url_en and page.lang != 'en' %}
    <link rel="alternate" hreflang="en" href="{{ page_url_en | prepend: site.baseurl | prepend: site.url}}">
{% endif %}
{% if page_url_fr and page.lang != 'fr' %}
    <link rel="alternate" hreflang="fr" href="{{ page_url_fr | prepend: site.baseurl | prepend: site.url }}">
{% endif %}
{% if page_url_es and page.lang != 'es' %}
    <link rel="alternate" hreflang="es" href="{{ page_url_es | prepend: site.baseurl | prepend: site.url }}">
{% endif %}
{% if page.lang == 'en' %}
    {% assign base = "" %}
{% else %}
    {% assign base = page.lang | prepend: "/" %}
{% endif %}
    <link rel="alternate" href="{{ "/feed.xml" | prepend: base | prepend: site.baseurl }}" title="Blog - {{ site.title }}" type="application/rss+xml">
    <link type="text/plain" rel="author" href="{{ "/humans.txt" | prepend: site.baseurl | prepend: site.url }}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>
