<header class="header">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light" aria-label="Eleventh navbar example">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ site.baseurl }}/{{ base }}"><img src="{{ '/public/georchestra-logo.svg' | prepend: site.baseurl }}" style="width: 140px;" alt="GeOrchestra logo"></a>
				<ul id="navbar-lang">
					{% if page.lang == "en" or page.lang == "" %}{% if page_url_fr %}
					<li class="nav-item"><a class="nav-link" href="{{ page_url_fr }}">fr</a></li>
					{% endif %}{% if page_url_es %}
					<li class="nav-item"><a class="nav-link" href="{{ page_url_es }}">es</a></li>
					{% endif %}{% assign base = "" %}{% endif %}
					{% if page.lang == "fr" %}{% if page_url_en %}
					<li class="nav-item"><a class="nav-link" href="{{ page_url_en }}">en</a></li>
					{% endif %}{% if page_url_es %}
					<li class="nav-item"><a class="nav-link" href="{{ page_url_es }}">es</a></li>
					{% endif %}{% assign base = "fr/" %}{% endif %}
					{% if page.lang == "es" %}{% if page_url_en %}
					<li class="nav-item"><a class="nav-link" href="{{ page_url_en }}">en</a></li>
					{% endif %}{% if page_url_fr %}
					<li class="nav-item"><a class="nav-link" href="{{ page_url_fr }}">fr</a></li>
					{% endif %}{% assign base = "es/" %}{% endif %}
				</ul>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarWebsite" aria-controls="navbarWebsite" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>            
				<div class="collapse navbar-collapse flex-grow-0" id="navbarWebsite">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						{% if page.lang == "en" or page.lang == "" %}
						<li class="nav-item"><a class="nav-link" href="/project.html">Project</a></li>
						<li class="nav-item"><a class="nav-link" href="/software.html">Software</a></li>
						<li class="nav-item"><a class="nav-link" href="https://packages.georchestra.org/">Download</a></li>
						<li class="nav-item"><a class="nav-link" href="/documentation.html">Documentation</a></li>
						<li class="nav-item"><a class="nav-link" href="/community.html">Community</a></li>
						<li class="nav-item"><a class="nav-link" href="/blog.html">Blog</a></li>
						{% endif %}
						{% if page.lang == "fr" %}
						<li class="nav-item"><a class="nav-link" href="/fr/projet.html">Projet</a></li>
						<li class="nav-item"><a class="nav-link" href="/fr/logiciel.html">Logiciel</a></li>
						<li class="nav-item"><a class="nav-link" href="https://packages.georchestra.org/">Téléchargement</a></li>
						<li class="nav-item"><a class="nav-link" href="/fr/documentation.html">Documentation</a></li>
						<li class="nav-item"><a class="nav-link" href="/fr/communaute.html">Communauté</a></li>
						<li class="nav-item"><a class="nav-link" href="/fr/blog.html">Blog</a></li>
						{% endif %}
						{% if page.lang == "es" %}
						<li class="nav-item"><a class="nav-link" href="/es/proyecto.html">Proyecto</a></li>
						<li class="nav-item"><a class="nav-link" href="/es/software.html">Software</a></li>
						<li class="nav-item"><a class="nav-link" href="https://packages.georchestra.org/">Descargan</a></li>
						<li class="nav-item"><a class="nav-link" href="/es/documentacion.html">Documentacion</a></li>
						<li class="nav-item"><a class="nav-link" href="/es/comunidad.html">Comunidad</a></li>
						<li class="nav-item"><a class="nav-link" href="/es/blog.html">Blog</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>