<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="google-site-verification" content="b4iV0TLmFCWJMpKBRakyJUE6LzKRmgIUe1exnETF2sM" />
    <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}" />
    <meta property="og:type" content="{% if is_post == 'true' %}article{% else %}website{% endif %}" />
    <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}"  data-proofer-ignore />
    <meta property="og:image" content="http://www.georchestra.org/public/logos/georchestra_logo.png" />
    <meta property="og:image:width" content="520" />
    <meta property="og:image:height" content="150" />
    <meta property="og:image:type" content="image/png" />
    <link rel="icon" sizes="16x16 24x24 32x32 64x64" type="image/vnd.microsoft.icon" href="{{ "/favicon.ico?v=3" | prepend: site.baseurl | prepend: site.url}}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" data-proofer-ignore>
{% if page_url_en and page.lang != 'en' %}
    <link rel="alternate" hreflang="en" href="{{ page_url_en | prepend: site.baseurl | prepend: site.url}}" data-proofer-ignore>
{% endif %}
{% if page_url_fr and page.lang != 'fr' %}
    <link rel="alternate" hreflang="fr" href="{{ page_url_fr | prepend: site.baseurl | prepend: site.url }}" data-proofer-ignore>
{% endif %}
{% if page_url_es and page.lang != 'es' %}
    <link rel="alternate" hreflang="es" href="{{ page_url_es | prepend: site.baseurl | prepend: site.url }}" data-proofer-ignore>
{% endif %}
{% if page.lang == 'en' %}
    {% assign base = "" %}
{% else %}
    {% assign base = page.lang | prepend: "/" %}
{% endif %}
    <link rel="alternate" href="{{ "/feed.xml" | prepend: base | prepend: site.baseurl }}" title="Blog - {{ site.title }}" type="application/rss+xml">
    <link type="text/plain" rel="author" href="{{ "/humans.txt" | prepend: site.baseurl | prepend: site.url }}" />
    <!-- Bootstrap lib 5.1.3 -->
	<link href="{{ '/lib/bootstrap/css/bootstrap.min.css' | prepend: site.baseurl }}" rel="stylesheet">
	<script src="{{ '/lib/bootstrap/js/bootstrap.bundle.min.js' | prepend: site.baseurl }}" ></script>
	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/georchestra-theme.css' | prepend: site.baseurl }}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
</head>
