<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - {{ site.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines }}">
    <link rel="icon" href="{{ site.baseurl }}favicon.ico" type="image/x-icon" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
{% if page_url_en and page.lang != 'en' %}
    <link rel="alternate" hreflang="en" href="{{ page_url_en | prepend: site.baseurl | prepend: site.url}}" />
{% endif %}
{% if page_url_fr and page.lang != 'fr' %}
    <link rel="alternate" hreflang="fr" href="{{ page_url_fr | prepend: site.baseurl | prepend: site.url }}" />
{% endif %}
{% if page_url_es and page.lang != 'es' %}
    <link rel="alternate" hreflang="es" href="{{ page_url_es | prepend: site.baseurl | prepend: site.url }}" />
{% endif %}
{% if page.lang == 'en' %}
    {% assign base = "" %}
{% else %}
    {% assign base = page.lang | prepend: "/" %}
{% endif %}
    <link rel="alternate" href="{{ "/feed.xml" | prepend: base | prepend: site.baseurl }}" title="Blog - {{ site.title }}" type="application/rss+xml">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>
