---
layout: default
lang: fr
title: Retour en images sur le geOcom
uid: geocom
permalink: /fr/geocom2023/geocom-2023.html
---

<h4>Retour en images sur le geOcom</h4>
<h1 class="display-4">geOcom 2023 à Saint-Mandé</h1>
<h6>
  <i class="bi bi-geo-alt-fill"></i> IGN & CRESCO - Saint-Mandé 
  <span class="ms-3"><i class="bi bi-calendar"></i> 30, 31 mai et 1, 2 juin</span>
</h6>

<div class="row mt-5">
  <img class="img-fluid" src="../../public/geocom2023/geocom2023_photogpe.jpg" alt="geOcom 2023 - Photo de groupe">
  <p style="text-align:end;"><i>	© PSC geOrchestra</i></p>
</div>

<h3>Présentations</h3>

<h4>Mardi</h4>
<div class="row" id="cardPresentation">
  {% include card_user.html label_site="Visualiser" name="Zapping des plateformes - Geoportal of the Prešov region " text="Jean POMMIER (Indépendant)" site_url="../../public/geocom2023/presentation/zappingSlovakia--PSK.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Zapping des plateformes - Geoportal of Košice Self-Governing Region" text="Jean POMMIER (Indépendant)" site_url="../../public/geocom2023/presentation/zappingSlovakia2--KSK.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Évolutions récentes de l’écosystème geOrchestra version 23" text="PSC geOrchestra / François VAN DER BIEST (Camptocamp)" site_url="../../public/geocom2023/presentation/Camptocamp_geoCom2023_evolPlateforme.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Mapstore 2023.01 and the ongoing work (anglais)" text="Tobia di PISA (GeoSolution) PSC" site_url="../../public/geocom2023/presentation/MapStore-geOcom-2023-v01.04.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Mviewer & MviewerStudio" text="PSC Mviewer" site_url="../../public/geocom2023/presentation/PSC_mviever-mviewer.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Ouvrir la communauté à l’international" text="Jean POMMIER (Indépendant) & Pierre CHRZANOWSKI (Banque Mondiale)" site_url="../../public/geocom2023/presentation/ouvrir_communaute_internationale.pdf" %}
</div>

<h4 class="mt-4">Mercredi</h4>
<div class="row" id="cardPresentation">
  {% include card_user.html label_site="Visualiser" name="Comment faire une demande d’évolution majeure (GeoRIP) ?" text="PSC geOrchestra / Maël REBOUX (Rennes Métropole)" site_url="../../public/geocom2023/presentation/geocom_2023_gip.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Cas d’usages - Mapstore pour faire de la mise à jour de données : exemple de mise en oeuvre" text="Maël REBOUX (Rennes Métropole)" site_url="../../public/geocom2023/presentation/geocom_2023_mapstore_maj_donnees.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Cas d’usages - MapStore 3D" text="Landry BREUIL (CRAIG)" site_url="../../public/geocom2023/presentation/20230531_mapstore_3d.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Cas d’usages - Plugin IDG pour QGIS" text="Jean-Baptiste DESBAS & Benjamin CHARTIER (Geo2France)" site_url="../../public/geocom2023/presentation/geocom_2023_plugin_qgis.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Renouvellement des briques (Gateway vs Security-proxy, header, extracteur, atlas,… )" text="Pierre MAUDUIT & François VAN DER BIEST (Camptocamp)" site_url="../../public/geocom2023/presentation/Camptocamp-geOcom23-RenouvellementBriques.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Refonte de l’édition de métadonnées & OpenData avec geonetwork 4 / datahub" text="Florent GRAVIN (Camptocamp)" site_url="../../public/geocom2023/presentation/Camptocamp-geOcom23-geonetworkEditorDatahub.pdf" %}
  {% include card_user.html label_site="Visualiser" name="geOrchestra et Kubernetes" text="Emilien DEVOS & Jean-Michel CREPEL(Camptocamp)" site_url="../../public/geocom2023/presentation/Camptocamp-geOcom23-Kubernetes.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Amélioration des statistiques d’usage" text="Jean POMMIER (Indépendant)" site_url="../../public/geocom2023/presentation/AmeliorationsStatsUsages.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Utiliser Geomapfish avec geOrchestra" text="Yves JACOLIN (Camptocamp)" site_url="../../public/geocom2023/presentation/Camptocamp-geOcom23-GeoMapFish.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Financement - Etat des lieux : comment on a fait jusqu’à présent" text="Landry BREUIL, François VAN DER BIEST & Frédéric DENEUX (visio)" site_url="../../public/geocom2023/presentation/montage_mapstore2.pdf" %}
</div>
<div>
  <h5>Cas d’usages : geOrchestra comme plateforme de téléchargement de données OSM</h5>
  <p>Séverin MENARD (Les libres géographes)</p>
  <video width="100%" height="auto" controls>
    <source src="../../public/geocom2023/presentation/GeoCom2013_intervention_Severin_donnees_OSM_20230531.webm" type="video/webm">
	  Oups ! La vidéo ne semble pas fonctionnée ...
  </video>
</div>
