<!DOCTYPE html>
<html lang="{{ page.lang }}">
  {% include post_url %}{% include page_url %}
  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
      <!--[if lte IE 8]><div style='clear: both; height: 112px; padding:0; position: relative;'><a href="http://www.theie8countdown.com/ie-users-info"><img src="http://www.theie8countdown.com/assets/badge_iecountdown.png" border="0" height="112" width="348" alt="" /></a></div><![endif]-->
    </div>

    {% include footer.html %}

{% include ga %}

    </body>
</html>
