<!-- Section IDS -->
<section>
	<div class="container">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5 mb-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<img src="{{ '/public/home/georchestra_interface.png' | prepend: site.baseurl }}" class="img-fluid rounded-3 shadow-lg mb-4" alt="Bootstrap Themes" loading="lazy">
			</div>
			<div class="col-lg-6">
				<h1 class="display display-3 lh-1 mb-3" style="color:var(--bs-primary);">GeOrchestra Spatial Data Infrastructure</h1>
				<p class="lead mb-4">geOrchestra is a <b>free, modular and interoperable</b> Spatial Data Infrastructure software born in 2009 to meet the requirements of the INSPIRE directive in Europe.</p>
				<div class="d-grid gap-2 d-md-flex justify-content-md-start">
					<button type="button" class="btn btn-lg btn-primary me-md-2"><a href="/project.html" style="color:inherit;text-decoration: none;"> Discover</a></button>
					<button type="button" class="btn btn-lg btn-outline-secondary "><i class="bi bi-download"></i> <a href="https://packages.georchestra.org/" style="color:inherit;text-decoration: none;">Download</a></button>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /.Section IDS -->
<!-- Section Historique -->
<section>
	<div class="container-fluid py-5" style="background-color: var(--bs-secondary); color:white;">
		<div class="container" >
			<div class="row py-5">
				<div class="col-md-3 align-self-center">
					<img src="{{ '/public/home/icon_historique.svg' | prepend: site.baseurl }}" style="width: 150px;" alt="GeOrchestra img">
				</div>
				<div class="col-md-9">
					<h1 class="display mb-3">Story</h1>
					<p class="">The geOrchestra project started back in 2009 when the Brittany spatial data infrastructure was under construction. Users and developers decided to place the source code under an open licence. An independant project steering committee was appointed to drive the project, address the emerging community, and vote changes.<br><br>
						Subsequently, many people studied, adapted, and translated geOrchestra modules for their own needs.<br><br>
						Initially hosted on a Brittany-hosted software repository, the source code finally moved to GitHub in 2012. This greatly improved code accessibility and obviously made contributions easier. The commit rates grew up dramatically.<br><br>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /.Section Historique -->
<!-- Section Communauté -->
<section>
	<div class="container-fluid" id="community">
		<div class="container" >
			<div class="row py-5" style="height: 600px;">
				<div class="align-self-center">
					<h1 class="display display-3 mb-5" style="color:var(--bs-secondary);">made <b>by people</b> for people</h1>
					<button type="button" class="btn btn-lg btn-secondary "><a href="/community.html" style="color:inherit;text-decoration: none;">Discover</a></button>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /.Section Communauté -->
<!-- Section IDS à la carte -->
<section>
	<div class="container py-5 my-5" id="icon-grid">
		<h1 class="display" style="color:var(--bs-primary);">Build your own Spatial Data Infrastructure</h1>
		<p class="lead">geOrchestra's core features a security proxy and a single-sign-on authentication system.
			Next to this core are independant and interoperable modules to build your own Spatial Data Infrastructure :
		</p>
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-2">
			<div class="col d-flex align-items-start">
				<img  class="rounded-1 me-3" src="{{ '/public/icons/geonetwork_icon.svg' | prepend: site.baseurl }}" style="width: 3em;">
				<div>
					<h4 class="mb-0">GeoNetwork</h4>
					<p>a data catalog</p>
				</div>
			</div>
			<div class="col d-flex align-items-start">
				<img  class="rounded-1 me-3" src="{{ '/public/icons/geoserver_icon.svg' | prepend: site.baseurl }}" style="width: 3em;">
				<div>
					<h4 class="mb-0">GeoServer</h4>
					<p>a map and features server</p>
				</div>
			</div>
			<div class="col d-flex align-items-start">
				<img  class="rounded-1 me-3" src="{{ '/public/icons/geofence_icon.svg' | prepend: site.baseurl }}" style="width: 3em;">
				<div>
					<h4 class="mb-0">GeoFence</h4>
					<p>an advanced data access list manager</p>
				</div>
			</div>
			<div class="col d-flex align-items-start">
				<img  class="rounded-1 me-3" src="{{ '/public/icons/geowebcache_icon.svg' | prepend: site.baseurl }}" style="width: 3em;">
				<div>
					<h4 class="mb-0">GeoWebCache</h4>
					<p>a map tile server</p>
				</div>
			</div>
			<div class="col d-flex align-items-start">
				<img  class="rounded-1 me-3" src="{{ '/public/icons/mapstore_icon.svg' | prepend: site.baseurl }}" style="width: 3em;">
				<div>
					<h4 class="mb-0">MapStore</h4>
					<p>an advanced web map viewer</p>
				</div>
			</div>
			<div class="col d-flex align-items-start">
				<img  class="rounded-1 me-3" src="{{ '/public/icons/ldapadmin_icon.svg' | prepend: site.baseurl }}" style="width: 3em;">
				<div>
					<h4 class="mb-0">Console</h4>
					<p>a user, orgs & roles manager</p>
				</div>
			</div>
			<div class="col d-flex align-items-start">
				<img  class="rounded-1 me-3" src="{{ '/public/icons/analytics_icon.svg' | prepend: site.baseurl }}" style="width: 3em;">
				<div>
					<h4 class="mb-0">Analytics</h4>
					<p>a module to display data usage statistics</p>
				</div>
			</div>
			<div class="col d-flex align-items-start">
				<img  class="rounded-1 me-3" src="{{ '/public/icons/datafeeder_icon.svg' | prepend: site.baseurl }}" style="width: 3em;">
				<div>
					<h4 class="mb-0">DataFeeder</h4>
					<p>a data integration assistant</p>
				</div>
			</div>
		</div>
		<p class="lead">and several other admin-oriented modules.</p>
		<p class="lead" style="color: var(--bs-primary)!important;font-weight: 600;"><a href="/software.html" style="color:inherit;text-decoration: none;"></i> Find out more </a><i class="bi bi-arrow-right"></i></p>
	</div>
</section>
<!-- /.Section IDS à la carte -->
<!-- Section Actu -->
<section>
	<div class="container-fluid py-5" style="background-color: var(--bs-secondary); color:white;">
		<div class="container" >
			<div class="row justify-content-center text-center align-items-center">
				<div class="col-xl-8 col-lg-9 col-md-10" >
					<img class="mb-3" src="{{ '/public/home/geocom.svg' | prepend: site.baseurl }}" style="width: 25em;">
					<div class="mb-4">
						<h4 class="display px-xl-5">Georchestra meeting</h4>
						<p class="lead px-xl-5">Perros-Guirec // 16 - 17 - 18 may 2022</p>
						<!--<button type="button" class="btn btn-lg btn-light"><a href="" style="color:var(--bs-secondary);text-decoration: none;">Register</a></button>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /.Section Actu -->