---
layout: default
lang: fr
title: Retour en images sur le geOcom
uid: geocom22
permalink: /fr/geocom2022/geocom-2022.html
---

<h4>Retour en images sur le geOcom</h4>
<h1 class="display-4">geOcom 2022 à Perros-Guirec</h1>
<h6>
  <i class="bi bi-geo-alt-fill"></i> Palais des Congrès de Perros-Guirec 
  <span class="ms-3"><i class="bi bi-calendar"></i> 16, 17 et 18 Mai 2022</span>
</h6>

<div class="row mt-5">
  <img class="img-fluid" src="../../public/geocom2022/geocom2022.jpg" alt="geOcom 2022 - Photo de groupe">
  <p style="text-align:end;"><i>	© PSC geOrchestra</i></p>
</div>

<h3>Présentations</h3>

<h4>Lundi</h4>
<div class="row" id="cardPresentation">
  {% include card_user.html label_site="Visualiser" name="Géoplateforme et plateformes : comment travailler ensemble" text="IGNF" site_url="../../public/geocom2022/presentation/IGN-Geoplateforme.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Données et algorithmes en recherche publique, jusqu’où peut-on aller avec geOrchestra ?" text="H. SQUIVIDANT (Agrocampus) / M. ROUAN (Université Bretagne Ouest)" site_url="../../public/geocom2022/presentation/AgroCampus_UBO-Donnees_et_algorithmes_en_recherche_publique_avec_geOrchestra.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Données et algorithmes en recherche publique, jusqu’où peut-on aller avec geOrchestra ? (2)" text="H. SQUIVIDANT (Agrocampus) / M. ROUAN (Université Bretagne Ouest)" site_url="../../public/geocom2022/presentation/CNRS-algorithme.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Mutualiser pour tendre vers un écosystème de plateformes interopérables." text="B. CHARTIER (AFIGEO)" site_url="../../public/geocom2022/presentation/Afigeo-mutualiser_pour_tendre_ecosysteme_PF_interoperables.pdf" %}
</div>

<h4 class="mt-4">Mardi</h4>
<div class="row" id="cardPresentation">
  {% include card_user.html label_site="Visualiser" name="Un nouveau parcours pour contribuer : Datafeeder. Les robots : VRT, foreign data wrapper…" text="F. VAN DER BIEST (Camptocamp / Géo2France)" site_url="" %}
  {% include card_user.html label_site="Visualiser" name="La contribution en ligne : GéoContrib, Signalements dans MapStore2" text="V. FABRY (Géo2France) et T. BRULE (Open / Rennes Métropole)" site_url="../../public/geocom2022/presentation/02-GeoContrib-Signalements.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Et la 3D, c'est quoi ?" text="L. BREUIL (CRAIG)" site_url="../../public/geocom2022/presentation/03-CRAIG-3D.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Santégraphie : geOrchestra, le coeur du portail Santégraphie" text="A. NECHA (ARS Ile-de-France)" site_url="../../public/geocom2022/presentation/04-santegraphie-geOrchestra.pdf" %}
  {% include card_user.html label_site="Visualiser" name="MapStore2 : quelques cas d’usage du nouveau visualiseur de geOrchestra" text="C. MORALES (Rennes Métropole)" site_url="../../public/geocom2022/presentation/05-Rennes_Metropole-MapStore2.pdf" %}
  {% include card_user.html label_site="Visualiser" name="SIGRéseau: Présentation et comparaison avec geOrchestra" text="E. ROPARTZ (Orange)" site_url="../../public/geocom2022/presentation/06-SIGReseaux-comparaison_geOrchestra.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Datahub: Trouver la donnée aussi simplement que possible sur un territoire" text="V. FABRY (Géo2France)" site_url="../../public/geocom2022/presentation/07-Geo2France-datahub.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Datavisualisation : mReport et Dataviz" text="G. RYCKELYNCK (DataGrandEst) / L. ECAULT (Région Bretagne)" site_url="../../public/geocom2022/presentation/08-DataGrandEst_Region_Bretagne-mreport.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Datavisualisation : mReport et Dataviz (2)" text="G. RYCKELYNCK (DataGrandEst) / L. ECAULT (Région Bretagne)" site_url="../../public/geocom2022/presentation/08-DataGrandEst-dataviz-components.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Retour d’expérience Lannion Trégor Communauté (LTC)" text="Lannion Trégor Communauté (LTC)" site_url="../../public/geocom2022/presentation/09-LannionTregorCommunaute-presentation.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Financement du socle" text="L. BREUIL (CRAIG)" site_url="../../public/geocom2022/presentation/10-PSC-finacement_coeur.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Authentification, Nouvelles possibilités offertes pour l’authentification : Proxy Sécu v2 / CAS 6" text="P. MAUDUIT (Camptocamp)" site_url="../../public/geocom2022/presentation/11-CampToCamp-authentification.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Mapstore: Présentation de la feuille de route MapStore2 / MapStore2-geOrchestra et de l’articulation entre les 2 logiciels" text="T. di PISA (GeoSolution) PSC" site_url="../../public/geocom2022/presentation/12-GeoSolutions-MapStore2.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Mviewer: Un visualiseur léger, polyvalent et agnostique qui s'intègre facilement à geOrchestra : nouveautés, feuille de route, cas d’usages" text="PSC Mviewer" site_url="../../public/geocom2022/presentation/13-PSC_mviever-mviewer.pdf" %}
</div>

<h4 class="mt-4">Mercredi</h4>
<div class="row" id="cardPresentation">
  {% include card_user.html label_site="Visualiser" name="GeoNetwork 4 et GeoNetwork-ui : Ce que GeoNetwork 4 change pour vous ?" text="F. GRAVIN (Camptocamp)" site_url="../../public/geocom2022/presentation/01-PSC_GeoNetwork-GeoNetwork_4.pdf" %}
  {% include card_user.html label_site="Visualiser" name="VectorTiles : avantages / inconvénients. Un nouveau paradigme - faut-il plonger ou pas ?" text="PSC geOrchestra" site_url="../../public/geocom2022/presentation/02-CampToCamp-Tuiles_vecteur.pdf" %}
  {% include card_user.html label_site="Visualiser" name="GeoServer Cloud: Monter en charge et industrialiser les services de données" text="G. ROLDAN (Camptocamp)" site_url="../../public/geocom2022/presentation/05-CampToCamp-GeoServer_Cloud.pdf" %}
  {% include card_user.html label_site="Visualiser" name="Kubernetes: Un incontournable ?" text="P. MAUDUIT (Camptocamp)" site_url="../../public/geocom2022/presentation/06-CampToCamp-Kubernetes.pdf" %}
  {% include card_user.html label_site="Visualiser" name="COG & OGC API: Pourquoi ces standards OGC ne sont-ils pas plus utilisés ?" text="L. BREUIL (CRAIG), M. REBOUX (Rennes Métropole)" site_url="../../public/geocom2022/presentation/07-CRAIG-COGEO_OGC_API.pdf" %}
</div>
